//- Metas
- var lang = 'es'
- var title = 'Lemonade, a freshing sip' // Page Title. Maximum length 60-70 characters
- var desc = 'Starterkit for Frontend developments' // Page description. No longer than 155 characters.
- var keywords = 'HTML, CSS, JavaScript'
- var author = 'Álvaro Möo'
- var pathJs = 'js/min/scripts.min.js'
- var pathCSS = 'css/min/styles.min.css'

//- Place favicon.ico in the root directory
//- - var favicon = 'favicon.png'
//- - var appleFavicon = 'apple-touch-icon.png'

//- Twitter Cards data
//- - var tc_card = ''  // summary
//- - var tc_site = '' // @publisher_handle
//- - var tc_title = '' // Page Title
//- - var tc_description = '' // Page description less than 200 characters
//- - var tc_creator = '' // @author_handle
//- - var tc_image = '' // Twitter Summary card images must be at least 120x120px | http://www.example.com/image.jpg

//- Open Graph data
//- - var og_title = '' // Title Here
//- - var og_type = '' // article
//- - var og_url = '' // http://www.example.com/
//- - var og_image = '' // http://example.com/image.jpg
//- - var og_description = '' // Description Here
//- - var og_site_name = '' // Site Name, i.e. Moz
//- - var fb_admins = '' // Facebook numeric ID

//- JS | Libraries
- var fontAwesome = 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'
- var tweenMax = 'https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js'
- var timelineMax = 'https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TimelineMax.min.js'

//- Google Analytics | partials/_analytics
- var google_analytics = false